[Unit]
Description=newcompositor
After=lipstick.service

[Service]
ExecStartPre=/bin/mkdir -p "${XDG_RUNTIME_DIR}/newcompositor"
ExecStart=/usr/bin/newcompositor --wayland-socket-name newcompositor/wayland \
                                 --qt-runner-address "unix:path=${XDG_RUNTIME_DIR}/newcompositor/qt-runner"
Restart=on-failure

[Install]
WantedBy=user-session.target
